body {
  padding: 12px 14px;
}

h1 {
  color: grey;
  font-size: 18px;
  font-weight: 500;
}

input {
  display: block;
}

ul {
  list-style-type: none;
}

ul#messages li {
  margin-bottom: 2px;
}

ul#messages li img {
  margin-right: 10px;
}

.avatar-img {
  width: 50px;
  vertical-align: middle;
}
