<html>
  <head>
    <title>チャット</title>
    <link rel="stylesheet" type="text/css" href="/static/css/chat.css" />
  </head>
  <body>
    <h1>Websocketを使ったチャットアプリケーション</h1>
    <ul id="messages"></ul>
    <form id="chatbox">
      {{ .UserData.name }}:<br/>
      <textarea class="chat-input"></textarea>
      <input type="submit" value="送信" />
    </form>

    <!-- js -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      $(function() {
        function formatDate(date, format) {
          format = format.replace(/yyyy/g, date.getFullYear());
          format = format.replace(/MM/g, ('0' + (date.getMonth() + 1)).slice(-2));
          format = format.replace(/dd/g, ('0' + date.getDate()).slice(-2));
          format = format.replace(/HH/g, ('0' + date.getHours()).slice(-2));
          format = format.replace(/mm/g, ('0' + date.getMinutes()).slice(-2));
          format = format.replace(/ss/g, ('0' + date.getSeconds()).slice(-2));
          format = format.replace(/SSS/g, ('00' + date.getMilliseconds()).slice(-3));
          return format;
        };

        var socket = null;
        var msgBox = $(".chat-input");
        var messages = $("#messages");

        $("#chatbox").submit(function() {
          if (!msgBox.val()) return false;
          if (!socket) {
            alert("error: no websocket connection");
            return false;
          };

          const msg = JSON.stringify({ Message: msgBox.val() });

          // socket.send(msgBox.val());
          socket.send(msg);
          msgBox.val("");
          return false;
        })

        if (!window["WebSocket"]) {
          alert("Error: WebSocketに対応していないブラウザです")
        } else {
          socket = new WebSocket("ws://{{ .Host }}/room");
          socket.onclose = function() {
            alert("接続が終了しました")
          };
          socket.onmessage = function(e) {
            const msg = JSON.parse(e.data);
            const date = new Date(msg.When);
            messages.append(`
              <li>
                <strong>${msg.Name}: </strong>
                <span>[${formatDate(date, 'yyyy/MM/dd HH:mm')}]</span>
                <span>${msg.Message}</span>
              </li>
            `);
          };
        };
      });
    </script>
  </body>
</html>